.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Navbar {
  text-align: right;
}
.Navbar li {
  display: inline-block;
  margin: 10px 5px;
}


.nav-bar-link{
  color: black;
  text-decoration: none;
}

 .nav-bar-link :hover{
  color: yellow
}

.active{
  color: #61dafb;
}

span{
  padding: 10px ;
  background-color:#61dafb;
  color: #fff;
  font-size: 20px ;
  line-height: 60px ;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* ----------redux style---------- */
.btn-wrapper button{
  background-color: darkgoldenrod;
    color: white;
    padding: 5px;
    border: 0px;
    border-radius: 4px;
}

.img-wrapper img{
  
  width: 60px
  
}

.cart-wrapper{
  height: 100px;
    width: 400px;
    border: 1px solid #ccc;
    margin: 10%;
    margin-left: 10%;
}

.item {
  float: left;
  display: inline-block;
  widht: 120px;
  padding: 20px;
  heigth: 70px;
}

.add-to-cart img{

    width: 80px;
    position: absolute;
    right: 1px;
    top: 1px;

}

.cart-count{
  
  padding: 5px;
  background-color: #61dafb;
  color: #fff;
  font-size: 12px;
  line-height: 60px;
  position: absolute;
  right: 50px;
  top: 5px;
  z-index: 1;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  text-align: center;
  line-height: 8px;

}

button.remove-item-btn{
  background-color: black;
  margin-top: 5px;
}